<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <link rel="stylesheet" href="themes/main.min.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="jquery.mobile.structure-1.4.5.min.css" />
  <script src="jquery-1.11.1.min.js"></script>
  <script src="jquery.mobile-1.4.5.min.js"></script>
  <script src="login.js"></script>
</head>
<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>Login</h1>
		</div>
		<main data-role="content" data-position="inline">
			<form id="f_login" data-ajax-"false">
				<input type="text" placeholder="Email" name="email" id="email">
				<input type="submit" value="Login">
			</form>
			<a href="/authFacebook/done" data-ajax="false" data-role="button">Sign In with Facebook</a>
		</main>
		<footer data-role="footer" data-theme="a" data-position="fixed">
			<h1>Copyright 2018</h1>
		</footer>
		</div>
	</div>
</body>
</html>
